* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.container-header {
  background-color: red;
  height: 200px;
}

.container-main {
  background-color: blue;
  /* height: 600px; */
  padding: 10px;
}
.float-left {
  float: left;
}
.col-left {
  background-color: green;
  width: 20%;
  padding: 10px;
}
.col-center {
  background-color: pink;
  width: 40%;
  margin: 0 10%;
  padding: 10px;
}
.col-right {
  background-color: darkgrey;
  width: 20%;
}
.subs {
  padding: 10px;
}

.container-footer {
  background-color: yellow;
  height: 100px;
}
